* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 120px 180px 120px;
    grid-template-rows: 80px 80px;
    gap: 5px;
    height: 500px;
    width: 80%;
    margin: auto;
    /* background-color: red; */
   /* align-items: center; */
   /* align-items: end; */
   /* align-items: start; */
   /* align-items: stretch; */

   /* justify-content: center; */
   /* justify-content: start; */
   /* justify-content: end; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   /* justify-content: space-evenly; */
   /* justify-content: stretch; */

   /* align-content: start; */
   /* align-content: center; */
   /* align-content: end; */
   /* align-content: space-around; */
   /* align-content: space-evenly; */
   align-content: space-around;

    /* border: 1px solid black; */
}

.item{
    border: 1px solid black;
    background-color: aqua;
    width: 100px;
    /* height: 100px; */
}