html , body {
    padding: 0;
    margin: 0;
    background-color: gray;
}
.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.judul{
    flex: 3;
    order: 2;
}
.side-satu{
    flex: 1;
    background: red;
    order: 1;

}
.side-dua{
    flex: 1;
    background: blue;
    order: 3;

}