html , body {
    padding: 0;
    margin: 0;
    background-color: gray;
}
.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.judul{
    flex:  1 1 100%;
}
.side-satu{
    flex: 1 1 50%;
    background: red;

}
.side-dua{
    flex: 1 1 50%;
    background: blue;

}