.container{
width: 600px;
border: 1px solid blue;
margin: 30px auto;
padding: 5px;
box-sizing: border-box;
display: flex;
gap: 3px;
height: 400px;
align-items: center;
justify-content: center;

}
.container div {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 255, 0.638);
}
