.container{
width: 600px;
border: 1px solid blue;
margin: 30px auto;
padding: 5px;
box-sizing: border-box;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.container div {
    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;
}
.satu{

}
.dua{

}
.tiga{

}
.empat{

}