.container{
width: 600px;
border: 1px solid blue;
margin: 30px auto;
padding: 5px;
box-sizing: border-box;
display: flex;
gap: 3px;
height: 150px;

}
.container div {
    background-color: rgba(0, 0, 255, 0.638);
    flex: 1;
}
.satu {
}
.container div.dua{
flex: 2;
/* align-self: flex-end; */
align-self: center;
}
.tiga {
}
.empat {
}