* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 80%;
    height: 500px;
    margin: auto;
    /* justify-items: end; */
    /* justify-items: start; */
    justify-items: stretch;
    justify-items: center;
    /* border: 1px solid black; */
}

.item{
    border: 1px solid black;
    background-color: aqua;
    width: 100px;
}