.container{
    display: grid;
    margin: 50px auto;
    /* buat 3 colom */
    grid-template-columns: 40% auto 100px auto;
    /* buat  3 row */
    grid-template-rows: 40% auto 100px;
    gap: 2px;

}
.item{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.span{
    grid-column: span 2;
    grid-row: span 2;
}