.container{
    display: grid;
    margin: 50px auto;
    /* buat 2 colom */
    grid-template-columns: 100px 50px;
    /* buat  3 row */
    grid-template-rows: 50px 100px 150px;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 2px;

}
.item{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* even : genap
odd : ganjil */
.item:nth-child(even){ 
background-color: rgb(123, 37, 37);
}