* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 500px;
    width: 80%;
    margin: auto;
    grid-template-columns: minmax(200px ,300px) 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
    'header header header'
    'sidebar content content'
    'footer footer footer';
}

.item{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* panduan */
/* .item {
    grid-area: <name> | <row-start> / <column-start> / <row-end> / <colum-end>;
} */

.header {
    grid-area: header;
    background-color: aqua;
}
.sidebar{
    grid-area: sidebar;
    background-color: blueviolet;
}
.content{
    grid-area: content;
    background-color: aquamarine;
}
.footer{
    grid-area: footer;
    background-color: brown;
}