.container {
    display: grid;
    margin: 50px auto;
    /* repeat() */
    /* 4 kolom dengan ukuran 1fr dan 5 kolom dengan ukuran 1,5 fr */
    grid-template-columns: repeat(4, 1fr) repeat(5, 1.5fr);
    gap: 2px;
  }
  .item {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* even : genap
  odd : ganjil */
  .item:nth-child(even) {
    background-color: rgb(123, 37, 37);
    color: white;
  }
  